<div class="grid-container">

  <div class="tolbar">
    <div>
      <h1 class="mat-h1">Change Password</h1>
    </div>
    <span class="spacer"></span>
    <div>
      <button mat-raised-button (click)="update(passwordPolicies)">Update</button>
    </div>
  </div>


  <div class="grid">
    <mat-card align="end">
      <mat-card-content>
        <mat-slide-toggle [(ngModel)]="showDetails">Show Password Info</mat-slide-toggle>
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Old Password</mat-label>
            <input matInput type="password" placeholder="Old Password" required>
          </mat-form-field>
          <br />
          <!--password input filed-->
          <mat-form-field appearance="standard" style="width: 100%" [color]="passwordComponent.color">
            <mat-label>Password</mat-label>
            <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
            <input matInput #password [type]="toggle.type" required placeholder="Password">
            <mat-hint align="end" aria-live="polite">
              {{password.value.length}} / {{passwordComponent.max}}
            </mat-hint>
          </mat-form-field>
          <!--@angular-material-extensions/password-strength's main component-->
          <mat-password-strength #passwordComponent (onStrengthChanged)="onStrengthChanged($event)"
            [password]="password.value">
          </mat-password-strength>
          <!--Password's strength info-->
          <br />

          <mat-form-field appearance="standard">
            <mat-label>Confirm Password</mat-label>
            <mat-pass-toggle-visibility #toggleconfirm matSuffix></mat-pass-toggle-visibility>
            <input matInput type="password" [type]="toggleconfirm.type" placeholder="Confirm Password" required>
          </mat-form-field>

          <mat-password-strength-info *ngIf="showDetails" [passwordComponent]="passwordComponent">
          </mat-password-strength-info>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>