<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Menu
    </mat-expansion-panel-header>
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="route('dashboard')">Dashboard</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="route('deposits')">Deposit</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="route('withdraws')">Withdraw</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="route('profile')">Profile</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="route('content-videos')">Content Video</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="route('training-videos')">Training Video</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="route('vote')">Vote</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="route('notice')">Notice</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="route('commission')">Commission</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="route('change-password')">Change Password</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>