.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 5px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.spacer{
  flex: 1 1 auto;
}

.mat-card-avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

/* .mat-table {
  overflow-x: scroll;
} */
.main-table{
  max-height:42vh;
  overflow-y:scroll;
  overflow-x:hidden;
  height: 270px;
}

/* .mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
} */

/* .mat-row,
.mat-header-row {
  display: table-row;
} */